@import url(https://fonts.googleapis.com/css?family=Karla);

html, body {
    font-family: "Karla";
    background-color: #063663;
    margin: 0;
    padding: 0;
}

.main {
    background-color: white;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 2em;
}

.app_image_cell {
    width: 20%;
}

.app_image_cell img {
    height: 90%;
}

.presentation_text_cell {
    width: 80%;
    padding: 2em;
    float: left;
    height: 100%;
}

.next_slide {
    width: 20%;
    bottom: 5em;
    float: right;
    right: 20%;
    position:absolute;
}

.main_table {
    width: 100hv;
overflow: hidden;
    height: 100%;
}

.button {
    font-size: 140%;
    border-radius: 0.5em;
    background-color: #063663;
    width: 90%;
    padding: 1em;
    margin: 0.5em;
    color: white;
    text-align: center;
    display: inline-block;    
}

.button:hover {
    background-color: darkblue;
}